modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["unzip"]

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_mem_db:1.0.0", "javascript_openai:1.0.0", "javascript_database:1.0.0", "javascript_openai_ai_integrations:2.0.0", "javascript_object_storage:2.0.0", "stripe:2.0.0"]

[userenv]

[userenv.shared]
FIELDEDGE_CUSTOMER_SHEET_ID = "1POeQRuDUTia0BUYsVmEsBOqW6BDBvfL5qyKv-GQICU0"
TRELLO_LIST_UNRESOLVED = "67769950d438e075bef2e14b"
TRELLO_LIST_RESOLVED = "685c6b3a6a0a06c495b7602c"
TRELLO_LIST_NEW = "685d91eba2dad71b518912b0"
WEATHER_LAT = "33.4735"
WEATHER_LON = "-82.0105"
RESEND_API_KEY = "re_QxaFgdBe_BNHzGnvsQfg2gNqKsLHw8BHB"
RESEND_INBOUND_ADDRESS = "quotes@bronaekaru.resend.app"
BOUNCIE_REDIRECT_URI = "https://1571a8b3-4ba1-4e05-8e06-fafee9ee64aa-00-135633vc7z2nc.worf.replit.dev/api/bouncie/callback"

[userenv.development]

[userenv.production]
